<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client />
    <services>
      <service name="CP.WcfDemo.Services.SimpleService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="" contract="CP.WcfDemo.Contracts.ISimpleService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8123/SimpleService/" />
          </baseAddresses>
        </host>
      </service>

      <service name="CP.WcfDemo.Services.DulplexService">
        <endpoint address="net.tcp://localhost:9999/DulplexService/" binding="netTcpBinding" contract="CP.WcfDemo.Contracts.IDulplexService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8123/DulplexService/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>