<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISimpleService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDulplexService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8123/SimpleService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISimpleService" contract="SimpleServiceReference.ISimpleService"
                name="BasicHttpBinding_ISimpleService" />
            <endpoint address="net.tcp://localhost:9999/DulplexService/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDulplexService"
                contract="DulplexServiceReference.IDulplexService" name="NetTcpBinding_IDulplexService" />
        </client>
    </system.serviceModel>
</configuration>